/* ----DEFAULT ELEMENT STYLING START---- */
html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

body {
  /* Positioning */
  margin-bottom: 150px;

  /* Typography */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* Visual */
  background-color: #232d4bbb;
}

/* Media query for body */
@media only screen and (max-width: 767px) {
  /* Set background color to white on small screens */
  body {
    /* Visual */
    background-color: #232d4bbb;
  }
}

/* ----DEFAULT ELEMENT STYLING END---- */

/* ----NAV START---- */
.navbar-custom {
  background-image: linear-gradient(to right, #232D4B, #232d4bbb);
}
.two-toned-header-color {
  /* Box-model */
  height: 6px;
  padding-bottom: 3px;

  /* Visual */
  background-image: linear-gradient(to right, #E57200, #232d4bbb);
}
.three-toned-header-color {
  /* Box-model */
  height: 6px;
  padding-bottom: 3px;

  /* Visual */
  background-image: linear-gradient(to right, #FFFFFF, #232d4bbb);
}

#logo {
  /* Box-model */
  height: 60px;
  width: 230px;
  padding-top: 10px;
  padding-bottom: 5px;

  /* Positioning */
  margin-left: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* Typography */
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;

  /* Visual */
  background: rgba(0,0,0,0);
}

/* Logo hover state */
#logo:hover {
  /* Visual */
  opacity: 0.7;
}

.navbar-right-custom {
  /* Box-model */
  padding-top: 6px;
  padding-right: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-default .navbar-nav > li > a{
  color: #ffffff;
}

/* Nav element hover state */
.navbar-default .navbar-nav > li > a:hover {
  color: #E57200;
}

/* Media query for nav */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-image: linear-gradient(to right, #232D4B, #232d4bbb);
  }

  #logo {
    width: 100%;

    /* Box-model */
    height: 60px;
    padding-top: 10px;
    padding-bottom: 5px;

    /* Positioning */
    margin-left: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /* Typography */
    font-size: 20px;
    font-weight: bold;
    color: #fff;

    /* Visual */
    background: rgba(0,0,0,0);
  }
}

/* -----NAV END---- */

/* ----DESCRIPTION START---- */
.description-header {
  /* Positioning */
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #232D4B;
}

.description-content {
  /* Box-model */
  padding: 30px;

  /* Positioning */
  margin-top: 24px;

  /* Visual */
  background-color: #ffffff;
}

.description-content > p {
  /* Box-model */
  padding-top: 20px;

  /* Typography */
  font-size: 16px;
  color: #232D4B;
}

.description-text {
  padding-top: 20px;
  padding-bottom: 20px;
}

#description-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

#images {
  padding-top: 15px;
  text-align: center;
}

#comparison-image {
  /* Positioning */
  padding-top: 15px;
  text-align: center;
  width: 450px;
  height: 300px; 
}

/* Description content media query */
@media only screen and (max-width: 767px) {
  /* override default class styling for positioning/padding */

  .description-content {
    /* Box-model */
    padding: 0;

    /* Positioning */
    margin-top: 0;
  }
}

/* ----DESCRIPTION END---- */

/* ----IMAGE NAV START---- */
#imageNav-area {
  width: 100%;
  padding: 30px 30px 30px;
  margin-top: 24px;
  background-color: #ffffff;
}

.imageNav-header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  color: #232D4B;
}

.imageNav-subheader {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: #232D4B;
}

.imageNav-photo {
  width: 140px;
  height: 140px;
}

.imageNav-photo:hover {
  opacity: 0.25;
}

#images {
  padding-top: 15px;
  text-align: center;
}

/* ----IMAGE NAV END---- */

/* ----COMPARISON START---- */
.imageComp-photo:hover {
  opacity: 0.6;
}

.imageComp-photo {
  width: 450px;
  height: 300px;
}

/* ----COMPARISON END---- */

/* ----FOOTER START---- */
.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 60px;
  margin-top: 30px;

  /* Visual */
  background-image:linear-gradient(to right, #232D4B, #232d4bbb);
}

.text-muted-footer {
  /* Positioning */
  margin-top: 15px;
  padding-left: 5px;

  /* Typography */
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-image: linear-gradient(to right, #FFFFFF, #232d4bbb);
}
.three-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-image: linear-gradient(to right, #E57200, #232d4bbb);
}

/* ----FOOTER END---- */
